{% set title = "Добавление организации" %}
{% extends "users/user_button.html" %}

{% block user_content %}

    <div class="container marketing">
        {{ form.hidden_tag() }}

        <h4 class="d-flex justify-content-center mb-3">
            <span class="h1 mt-3">Добавление организации</span>
        </h4>
        <form class="needs-validation" novalidate method="POST" action="">
            <div>
                {{ form.csrf_token }}
            </div>

            <div class="row justify-content-center">
                <svg class="bd-placeholder-img card-img-top" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" role="img" aria-label="Placeholder: Thumbnail"
                     style="width: 300px; height: 300px">
                    <rect fill="#55595c" width="100%" height="100%"/>
                    <text fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                </svg>
                <div class="column mx-2">

                    <div>
                        {{ form.name.label }}<br>
                        {{ form.name(class="form-control") }}<br>
                        {% for error in form.name.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.org_type.label }}<br>
                        {{ form.org_type(class="form-control") }}<br>
                        {% for error in form.org_type.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.email.label }}<br>
                        {{ form.email(class="form-control") }}<br>
                        {% for error in form.email.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="column mt-3">
                    <div>
                        {#                                <form>#}
                        {#                                    <div class="form-group">#}
                        {#                                        <label for="exampleFormControlFile1">Изображение</label>#}
                        {#                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">#}
                        {#                                    </div>#}
                        {#                                </form>#}
                    </div>
                    <div>

                        {{ form.org_desc.label }}<br>
                        {{ form.org_desc(class="form-control") }}<br>
                        {% for error in form.org_desc.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr class="featurette-divider">
            {{ form.submit(type="submit", class="btn btn-primary btn-lg btn-block my-3") }}
        </form>
    </div>
    <script src="{{ url_for('static', filename="js/form-validation.js") }}"></script>
{% endblock %}