{% import "macros.html" as  macros %}
{% set title = "Организации" %}
{% set footer = true %}
{% set height = "100px"%}
{% extends "base.html" %}
{% block content %}
    <div class="container col-11 col-sm-12 col-md-8 col-lg-8 col-xl-9">
        <div class="jumbotron p-3 p-md-5 text-white rounded row" style="background-color: #777">
            <div class="col-md-6 px-0">
                <p class="lead my-3">"ИП", "ООО" - добавив свою организацию на платформу, вы получете большое количество возможностей.</p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold" data-toggle="modal" data-target="#exampleModalLong">Подробнее...</a></p>
            </div>
            <div class="col-md-6 px-0">
                <h1 class="display-3 mt-3 text-center">Организации</h1>
            </div>
        </div>
        <h1 class="display-4 text-center m-5">Список ваших организаций:</h1>

        <div class="row mb-2 justify-content-center ml-5">
            {% for org in orgs %}
                {{ macros.organization_card(org) }}
            {% endfor %}
        </div>

    <hr class="featurette-divider m-4">

    </div>

    <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Обучение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>Информация пока недоступна :(</p>
                    <p>Приносим свои извенения.</p>
                </div>
            </div>
        </div>
    </div>
{#    <div class="modal fade bd-example-modal-lg" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">#}
{#        <div class="modal-dialog" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title" id="exampleModalLongTitle">Костыль</h5>#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                </div>#}
{#                <div class="modal-body text-center">#}
{#                    <p>Бекэнд - нужно перехватит нажатие на карточку и кидать на эту вот ссылку:</p>#}
{#                    <p><a class="btn btn-lg btn-primary col-md-9" href="/organization/profile/menu_organization" role="button">Ссылка на меню организации</a></p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}