{% set title = "Авторизация" %}
{% set footer = true %}
{% set height = "100px"%}
{% extends "base.html" %}
{% block content %}
    <div class="container col-11 col-sm-12 col-md-8 col-lg-8 col-xl-9">
        <div class="jumbotron p-3 p-md-5 text-white rounded row" style="background-color: #777">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">"Век живи - век учись"</h1>
                <p class="lead my-3">Обучение - неотъемлемая часть нашей жизни. Тем более ваш будующий работодатель, приятно оценит ваше стремление к учёбе.</p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold" data-toggle="modal" data-target="#exampleModalLong">Подробнее...</a></p>
            </div>
            <div class="col-md-6 px-0">
                <h1 class="display-3 mt-5 text-center">Обучение/Курсы</h1>
            </div>
        </div>
        <h1 class="display-4 text-center m-5">Ваши курсы:</h1>
        <div class="row mb-2 justify-content-center">
            <div class="col-md-5">
                <div href="#" type="button" class="card flex-md-row mb-4 box-shadow h-md-250"  style="height: 252px; width: 446px">
                    <div class="card-body d-flex flex-column align-items-start bg-light">
                        <strong class="d-inline-block mb-2 text-primary">Курсы</strong>
                        <h3 class="mb-0">
                            <a class="text-dark">Яндекс Лицей</a>
                        </h3>
                        <div class="mb-2 text-muted">Сентябрь 2018</div>
                        <p class="card-text mb-auto">Обучение програмированию на языке Python на базе компании Яндекс.</p>
                    </div>
                        <img class="card-img-right flex-auto d-none d-md-block img-thumbnail img-fluid" src="{{ url_for('static', filename="icon/yandex.jpg") }}" style="height:250px; width: 199px" alt="Card image cap">
                </div>
            </div>
            <div class="col-md-5">
                <div type="button" class="card flex-md-row mb-4 box-shadow h-md-250" style="height: 252px; width: 446px">
                    <div class="card-body d-flex flex-column align-items-start bg-light">
                        <strong class="d-inline-block mb-2 text-success">Онлайн обучение</strong>
                        <h3 class="mb-0">
                            <a class="text-dark">Super-English</a>
                        </h3>
                        <div class="mb-2 text-muted">Февраль 2020</div>
                        <p class="card-text mb-auto">Изучение английского языка с нуля, до свободного общения вместе с Петровой Оксаной Сергеевной.</p>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block img-thumbnail img-fluid" src="{{ url_for('static', filename="icon/English.jpg") }}" style="height:250px; width: 199px" alt="Card image cap">
                </div>
            </div>
        </div>

    <hr class="featurette-divider m-4">

    </div>

    <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Обучение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>Информация пока недоступна :(</p>
                    <p>Приносим свои извенения.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}