{% set title = "Вакансии" %}
{% set footer = true %}
{% set height = "100px"%}
{% extends "base.html" %}
{% block content %}
    <div class="container col-11 col-sm-12 col-md-8 col-lg-8 col-xl-9">
        <div class="jumbotron p-md-2 text-white rounded row" style="background-color: #777">
            <h1 class="display-4 mx-5 font-italic">Вакансии - найди работу по душе</h1>
        </div>
        <div class="row mb-3">
            <div class="col-md-2 mt-3">
                <h2 class="font-italic text-center">Фильтры:</h2>
            </div>
            <div class="col-md-3">
                <label for="Организация"></label>
                <input type="text" class="form-control" id="Организация" placeholder="Организация" name="surname">
            </div>
            <div class="col-md-3">
                <label for="Должность"></label>
                <input type="text" class="form-control" id="Должность" placeholder="Должность" name="surname">
            </div>
            <div class="col-md-2">
                <label for="Зарплата"></label>
                <input type="text" class="form-control" id="Зарплата" placeholder="Зарплата" name="surname">
            </div>
            <div class="col-md-2 mt-3">
                <button class="btn btn-primary btn-lg btn-block mt-1" type="submit">Применить</button>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Организация</th>
                <th scope="col">Должность</th>
                <th scope="col">Зарплата</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Хлебобулочный комбинат</td>
                <td>Кондитер</td>
                <td>30.000₽</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Хлебобулочный комбинат</td>
                <td>Директор</td>
                <td>50.000₽</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>ПФР промю района</td>
                <td>Администратор</td>
                <td>25.000₽</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>ПФР промю района</td>
                <td>Сис.Админ</td>
                <td>27.500₽</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Автосервис Михаил-авто</td>
                <td>Механик</td>
                <td>27.500₽</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Автосервис Михаил-авто</td>
                <td>Моляр</td>
                <td>33.000₽</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Автосервис Михаил-авто</td>
                <td>Главный механик</td>
                <td>35.000₽</td>
            </tr>
            </tbody>
        </table>
    <hr class="featurette-divider m-4">

    </div>
{% endblock %}