{% set title = "Уведомления" %}
{% extends "base.html" %}
{% block content %}
  <hr class="featurette-divider m-5">

  <div class="container marketing">
    <div class="row justify-content-center">
        <div class="column mt-5 col-9 col-sm-9 col-md-4 col-lg-3 col-xl-3">
            <p><a class="btn btn-lg btn-primary col-12" href="/users/profile" role="button">Профиль</a></p>
            <p><a class="btn btn-lg btn-primary col-12" href="/users/profile/redact" role="button">Редактирование</a></p>
            <p><a class="btn btn-lg btn-primary col-12" href="/users/profile/notification/" role="button">Уведомления</a></p>
            <hr class="featurette-divider my-4">
            <p><a class="btn btn-lg btn-primary col-12" href="/users/logout" role="button">Выйти</a></p>
            <p><a class="btn btn-lg btn-primary col-12" href="/users/logout" role="button">Удалить</a></p>
            <hr class="featurette-divider my-4">
            <p><a class="btn btn-lg btn-primary col-12" href="/users/profile/personnel" role="button">Отдел кадров</a></p>
        </div>
        <div class="container col-11 col-sm-12 col-md-8 col-lg-8 col-xl-9" style="background-color: whitesmoke">
            <h4 class="d-flex justify-content-center mb-3">
                <span class="h1 mt-3">Уведомления профиля</span>
            </h4>
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input" id="same-1">
              <label class="custom-control-label" for="same-1">Предоставить доступ работадателям просматривать ваше желание.</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input" id="same-2">
              <label class="custom-control-label" for="same-2">Предоставить доступ кадровикам просматривать ваше желание.</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input" id="same-3">
              <label class="custom-control-label" for="same-3">Предоставить доступ работадателю вносить изменения в ваш профиль.</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input" id="same-4">
              <label class="custom-control-label" for="same-4">Предоставить доступ кадровикам вносить изменения в ваш профиль.</label>
            </div>
            <hr class="featurette-divider">
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input active" id="save-5">
              <label class="custom-control-label" for="save-5">Получать уведомления, о новых подходящих вакансиях.</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input active" id="save-6">
              <label class="custom-control-label" for="save-6">Получать уведомления, о новых курсах, которые могут вам понравится.</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input active" id="save-7">
              <label class="custom-control-label" for="save-7">Получать уведомления, о изменениях профиля кадровиками, или работадателем.</label>
            </div>
            <div class="custom-control custom-checkbox my-2">
              <input type="checkbox" class="custom-control-input active" id="save-8">
              <label class="custom-control-label" for="save-8">Получать уведомления, о проектой деятельности.</label>
            </div>
            <div class="custom-control custom-checkbox mt-2">
              <input type="checkbox" class="custom-control-input active" id="save-9">
              <label class="custom-control-label" for="save-9">Получать уыедомления, о ообщщественной деятельности.</label>
            </div>
            <hr class="featurette-divider">
            <footer class="row justify-content-between m-4">
                <p>&copy; SAMARA-CORPARATION</p>
                <p class="float-right"><a href=#>Вернутся в начало страницы</a></p>
            </footer>
        </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename="js/form-validation.js") }}"></script>
{% endblock %}