{% set title = "Кадровый отдел" %}
{% set footer = true %}
{% extends "base.html" %}
{% block content %}
    <hr class="featurette-divider m-5">
    <div class="container marketing">
        <div class="col-11 col-sm-11 col-md-6 col-lg-5 col-xl-12">
            <div class="card mb-4 shadow-sm">
                <h1 class="card-text font-weight-normal text-center">Кадровый отдел</h1>
                <div class="progress m-3">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: 91%" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100">91%
                    </div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                         style="width: 9%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100">9%
                    </div>
                </div>
                <div class="row mx-3">
                    <h5 class="card-text font-weight-normal">Общее количество рабочих: {{ stats[0] }}</h5>
                    <div class="progress mt-1" style="width: 20px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: 100%">
                        </div>
                    </div>
                </div>
                <div class="row mx-3">
                    <h5 class="card-text font-weight-normal mb-4">Общее количество свободных вакансий: {{ stats[1] }}</h5>
                    <div class="progress mt-1" style="width: 20px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                             role="progressbar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            {% for company in organizations %}
                {% set percent = 100 * company[1] // (company[1] + company[2]) %}
                <div class="col-11 col-sm-11 col-md-6 col-lg-5 col-xl-4 justify-content-center">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ company[0] }}</h4>
                        </div>
                        <img class="img-fluid" src="../static/icon/1.jpg" alt="" style="max-width: 100%; height: auto">
                        <div class="card-body">
                            <div class="progress mb-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     style="width: {{ percent }}%">{{ percent }}%
                                </div>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                     role="progressbar" style="width: {{ 100 - percent }}%">{{ 100 - percent }}%
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <h5 class="card-text font-weight-normal">Кол-во рабочих: {{ company[1] }}</h5>
                                <div class="progress mt-1" style="width: 20px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar" style="width: 100%"></div>
                                </div>
                                <h5 class="card-text font-weight-normal mb-4">Кол-во вакансий: {{ company[2] }}</h5>
                                <div class="progress mt-1" style="width: 20px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                         role="progressbar" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <p><a class="btn btn-lg btn-block btn-outline-primary" href="/users/profile/personnel/organization" role="button">Перейти к
                                    организации</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr class="featurette-divider">
    </div>
{% endblock %}