{% set title = "Личный профиль" %}
{% extends "base.html" %}
{% block content %}
  <hr class="featurette-divider m-5">

  <div class="container marketing">
    <div class="row justify-content-center">
              <div class="column mt-5 col-9 col-sm-9 col-md-4 col-lg-3 col-xl-3">
                  <p><a class="btn btn-lg btn-primary col-12" href="/users/profile" role="button">Профиль</a></p>
                  <p><a class="btn btn-lg btn-primary col-12" href="/users/redact" role="button">Редактирование</a></p>
                  <p><a class="btn btn-lg btn-primary col-12" href=# role="button">Уведомления</a></p>
                  <p><a class="btn btn-lg btn-primary col-12" href="/users/logout" role="button">Выйти</a></p>
                  <p><a class="btn btn-lg btn-primary col-12" href=# role="button">Удалить</a></p>
              </div>
              <div class="container col-11 col-sm-12 col-md-8 col-lg-8 col-xl-9" style="background-color: whitesmoke">
                  <div class="row">
                      <div class="order-md-2 mt-4 mb-4 col-12 col-sm-12 col-md-12 col-lg-11 col-xl-7">
                          <h4 class="d-flex justify-content-center mb-3">
                              <span class="h1 mt-3">Личный профиль</span>
                          </h4>
                          <h4 class="mb-3">Фамилия: {{ Surname }}</h4>
                          <h4 class="mb-3">Имя: {{ Name }}</h4>
                          <h4 class="mb-3">Отчество: {{ Middle_name }}</h4>
                          <h4 class="mb-3">Пол: {{ Gender }}</h4>
                          <h4 class="mb-3">Возраст: {{ Age }}</h4>
                          <h4 class="mb-3">Грейд: {{ Grade }}</h4>
                          <h4 class="mb-3">Образование: {{ Education }}</h4>
                          <h4 class="mb-3">Семейное положение: {{ Marital_status }}</h4>
                      </div>
                      <div class="order-md-1 mt-2 col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
                          <img class="m-4 img-thumbnail img-fluid" src="{{ url_for('static', filename="icon/pol.png") }}" alt="" style="max-width: 100%; height: auto">
                      </div>
                  </div>
                  <div class="column">
                      <h4 class="mb-3">Знание иностранных язаков: {{ Knowledge_of_foreign_language }}</h4>
                  <hr class="featurette-divider">

                  </div><!-- /.container -->
                  <footer class="container">
                      <p class="float-right"><a href=#>Вернутся в начало страницы</a></p>
                      <p>&copy; SAMARA-CORPARATION</p>
                  </footer>
              </div>
          </div>
  </div>
{% endblock %}