<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Личный профиль</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      body {
        background-color: white;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="../static/css/carousel.css" rel="stylesheet">
      <link rel="icon" href="{{ url_for('static', filename="icon/icon.png") }}">
  </head>
  <body>
  <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename="icon/icon.png") }}" width="50" height="50" alt="" data-toggle="modal" data-target="#exampleModalLong">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-pills">
              <a class="nav-link active" href="/users/profile">Профиль<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/education">Обучение<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/job">Вакансии<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/training">Навставничество<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/training">Статистика<span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Деятельности</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/users/community_work">Общественная</a>
                    <a class="dropdown-item" href="/users/job">Проектная</a>
                </div>
            </li>
      </ul>
    </div>
  </nav>
</header>
  <hr class="featurette-divider m-5">

  <div class="container marketing">
    <div class="row justify-content-center">
              <div class="column mt-5 col-9 col-sm-9 col-md-4 col-lg-3 col-xl-3">
                  <p><a class="btn btn-lg btn-primary col-12" href=# role="button">Редактирование</a></p>
                  <p><a class="btn btn-lg btn-primary col-12" href=# role="button">Уведомления</a></p>
                  <p><a class="btn btn-lg btn-primary col-12" href="/users/logout" role="button">Выйти</a></p>
                  <p><a class="btn btn-lg btn-primary col-12" href=# role="button">Удалить</a></p>
              </div>
              <div class="container col-11 col-sm-12 col-md-8 col-lg-8 col-xl-9" style="background-color: whitesmoke">
                  <div class="row">
                      <div class="order-md-2 mt-4 mb-4 col-12 col-sm-12 col-md-12 col-lg-11 col-xl-7">
                          <h4 class="d-flex justify-content-center mb-3">
                              <span class="h1 mt-3">Личный профиль</span>
                          </h4>
                          <h4 class="mb-3">Фамилия: {{ Surname }}</h4>
                          <h4 class="mb-3">Имя: {{ Name }}</h4>
                          <h4 class="mb-3">Отчество: {{ Middle_name }}</h4>
                          <h4 class="mb-3">Пол: {{ Gender }}</h4>
                          <h4 class="mb-3">Возраст: {{ Age }}</h4>
                          <h4 class="mb-3">Грейд: {{ Grade }}</h4>
                          <h4 class="mb-3">Образование: {{ Education }}</h4>
                          <h4 class="mb-3">Семейное положение: {{ Marital_status }}</h4>
                      </div>
                      <div class="order-md-1 mt-2 col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
                          <img class="m-4 img-thumbnail img-fluid" src="{{ url_for('static', filename="icon/pol.png") }}" alt="" style="max-width: 100%; height: auto">
                      </div>
                  </div>
                  <div class="column">
                      <h4 class="mb-3">Знание иностранных язаков: {{ Knowledge_of_foreign_language }}</h4>
                  <hr class="featurette-divider">

                  </div><!-- /.container -->

                  <footer class="row justify-content-between m-4">
                      <p>&copy; SAMARA-CORPARATION</p>
                      <p class="float-right"><a href=#>Вернутся в начало страницы</a></p>
                  </footer>
              </div>
          </div>
      </header>
  </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
