<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Авторизация</title>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      body {
        background-color: white;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
      <link rel="icon" href="{{ url_for('static', filename="icon/icon.png") }}">
  </head>
  <header style="height: 200px">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename="icon/icon.png") }}" width="50" height="50" alt="" data-toggle="modal" data-target="#exampleModalLong">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-pills">
              <a class="nav-link active" href="/users/profile">Личный кабинет<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/education">Обучение<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/job">Вакансии<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/training">Навставничество<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/community_work">Общ. Деятельность<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/job">Проект. Деятельность<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/training">Статистика<span class="sr-only">(current)</span></a>
          </li>
      </ul>
    </div>
  </nav>
</header>
<body>
<div class="column">
    <div class="d-flex justify-content-center" style="height: 100px">
        <img class="mb-4" src="../static/icon/icon.png" alt="" style="width: 43px; height: 43px">
            <img class="mb-4 mx-4" src="../static/icon/Gos.jpg" alt="" style="width: 300px; height: 51px">
    </div>
          <div class="h1 mx-auto" style="width: 100px; height: 30px">Вход</div>
          <div class="h6 mx-auto mt-3" style="width: 160px; height: 30px">Для портала госулуг</div>
          <div class="d-flex justify-content-center" style="height: 100px">
            <div class="d-flex p-3 my-1 flex-column" style="width: 300px">
              <label for="inputEmail" class="sr-only">Адрес электронной почты</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Адрес электронной почты" required autofocus>
              <label for="inputPassword" class="sr-only">Пароль</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
            </div>
          </div>
          <div class="d-flex p-3 mx-5 flex-row justify-content-center" style="height: 50px; max-width: 1800px">
            <div class="checkbox mx-5">
              <label>
                <input type="checkbox" value="remember-me">Запомнить пароль
              </label>
            </div>
            <p class="mx-5 float-right"><a href=https://esia.gosuslugi.ru/registration/>Зарегистрироватся</a></p>
          </div>
          <div class="d-flex justify-content-center" style="height: 130px">
            <div class="d-flex p-3 my-1 flex-column">
              <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 300px">Войти</button>
              <p class="mt-1 mb-3 ml-5 mt-3 text-muted">&copy; SAMARA-CORPARATION</p>
            </div>
          </div>
        </div>
</body>
</html>