<html>
<head>
    <title>Регистрация</title>
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='css/style.css')}}">
</head>

<body bgcolor="silver" text="#000000">
<h1>{{error}}</h1>

<p id="enter-text">Введите имя и пароль</p>

<center><input id="login"></center>
<center><input id="password" type="password"></center>

<center>
    <button id="enter">Готово</button>
</center>

{#<script type="text/javascript" src="{{url_for('static', filename='lib.js')}}"></script>#}

</body>
</html>