<html>
<head>
    <title>Регистрация</title>
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='css/test.css')}}">
</head>

<body bgcolor="silver" text="#000000">
<h1>{{error}}</h1>

<p id="enter-text">Введите имя и пароль</p>

<form method="POST" action="">

    <label for="login"></label><input name="username" id="login">
    <label for="password"></label><input name="password" id="password" type="password">

    <input type="submit" value="Войти">
</form>

</body>
</html>