<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ГОС - работа</title>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      body {
        background-color: white;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../static/css/carousel.css" rel="stylesheet">
      <link rel="icon" href="{{ url_for('static', filename="icon/icon.png") }}">
  </head>

  <header style="height: {{ height }}">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename="icon/icon.png") }}" width="50" height="50" alt="" data-toggle="modal" data-target="#exampleModalLong">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-pills">
              <a class="nav-link active" href="/users/profile">Профиль<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/education">Обучение<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/job">Вакансии<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/training">Навставничество<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-pills">
              <a class="nav-link active" href="/users/training">Статистика<span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Деятельности</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/users/community_work">Общественная</a>
                    <a class="dropdown-item" href="/users/job">Проектная</a>
                </div>
            </li>
      </ul>
    </div>
  </nav>
</header>
  <body>
  <main role="main">
  <hr class="featurette-divider m-5">
  <div class="container marketing">
      <div class="col-11 col-sm-11 col-md-6 col-lg-5 col-xl-12">
          <div class="card mb-4 shadow-sm">
              <h1 class="card-text font-weight-normal text-center">Кадровый отдел</h1>
              <div class="progress m-3">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 91%" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100">91%</div>
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 9%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100">9%</div>
              </div>
              <div class="row mx-3">
                  <h5 class="card-text font-weight-normal">Общее количество рабочих: 590</h5>
                  <div class="progress mt-1" style="width: 20px">
                      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%"></div>
                  </div>
              </div>
              <div class="row mx-3">
                  <h5 class="card-text font-weight-normal mb-4">Общее количество свободных вакансий: 59</h5>
                  <div class="progress mt-1" style="width: 20px">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                  </div>
              </div>
          </div>
        </div>
    <div class="row justify-content-center">
        <div class="col-11 col-sm-11 col-md-6 col-lg-5 col-xl-4 justify-content-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Хлебобулочный комбинат</h4>
            </div>
            <img class="img-fluid" src="../static/icon/1.jpg" alt="" style="max-width: 100%; height: auto">
            <div class="card-body">
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 90%">90%</div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%">10%</div>
                </div>
                <div class="row justify-content-center">
                    <h5 class="card-text font-weight-normal">Кол-во рабочих: 217</h5>
                    <div class="progress mt-1" style="width: 20px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%"></div>
                    </div>
                    <h5 class="card-text font-weight-normal mb-4">Кол-во вакансий: 23</h5>
                    <div class="progress mt-1" style="width: 20px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                    </div>
                </div>
              <div class="d-flex justify-content-center align-items-center">
                  <p><a class="btn btn-lg btn-block btn-outline-primary" href="#" role="button">Перейти к организации</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-11 col-sm-11 col-md-6 col-lg-5 col-xl-4 justify-content-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">ПФР пром. района</h4>
            </div>
            <img class="img-fluid" src="../static/icon/1.jpg" alt="" style="max-width: 100%; height: auto">
            <div class="card-body">
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 91%">91%</div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 9%">9%</div>
                </div>
                <div class="row justify-content-center">
                    <h5 class="card-text font-weight-normal">Кол-во рабочих: 356</h5>
                    <div class="progress mt-1" style="width: 20px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%"></div>
                    </div>
                    <h5 class="card-text font-weight-normal mb-4">Кол-во вакансий: 23</h5>
                    <div class="progress mt-1" style="width: 34px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                    </div>
                </div>
              <div class="d-flex justify-content-center align-items-center">
                  <p><a class="btn btn-lg btn-block btn-outline-primary" href="#" role="button">Перейти к организации</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-11 col-sm-11 col-md-6 col-lg-5 col-xl-4 justify-content-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Автосервис Михаил-авто</h4>
            </div>
            <img class="img-fluid" src="../static/icon/1.jpg" alt="" style="max-width: 100%; height: auto">
            <div class="card-body">
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 89%">89%</div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 11%">11%</div>
                </div>
                <div class="row justify-content-center">
                    <h5 class="card-text font-weight-normal">Кол-во рабочих: 17</h5>
                    <div class="progress mt-1" style="width: 20px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%"></div>
                    </div>
                    <h5 class="card-text font-weight-normal mb-4">Кол-во вакансий: 2</h5>
                    <div class="progress mt-1" style="width: 20px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
                    </div>
                </div>
              <div class="d-flex justify-content-center align-items-center">
                  <p><a class="btn btn-lg btn-block btn-outline-primary" href="#" role="button">Перейти к организации</a></p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <hr class="featurette-divider">
  </div></main>
   <footer class="container">
    <p class="float-right"><a href=#>Вернутся в начало страницы</a></p>
    <p>&copy; SAMARA-CORPARATION</p>
  </footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>