{% set title = "Требуется подтверждение электронной почты" %}
{% set footer = false %}
{% extends "base.html" %}
{% block content %}
    <div class="pricing-header mt-5 mx-auto text-center ">
        <h2 class="display-1 mt-5">Не подтверждена почта</h2>
        <h3>Вам было прислано письмо, пожалуйста перейдите по ссылке и подтвердите вашу почту</h3>
    </div>
    <p  style="margin: auto"><a class="btn btn-lg btn-primary" href="/users/logout" role="button">Выйти из аккаунта</a></p>
{% endblock %}