{% set title = "Требуется подтверждение электронной почты" %}
{% set footer = false %}
{% extends "base.html" %}
{% block content %}
    <div class="pricing-header mt-px-50 py-3 pt-md-5 pb-md-4 mx-auto text-center ">
        <h2 class="display-1 mt-5">Не подтверждена почта</h2>
        <h2>Вам было прислано письмо, пожалуйста перейдите по ссылке и подтвердите вашу почту</h2>
    </div>
    <p  style="width: 20%; margin: auto"><a class="btn btn-lg btn-primary col-12" href="/users/logout" role="button">Выйти из аккаунта</a></p>
{% endblock %}