{% set title = "Уведомления" %}
{% extends "users/user_button.html" %}
{% block user_content %}
    <h4 class="d-flex justify-content-center mb-3">
        <span class="h1 mt-3">Уведомления профиля</span>
    </h4>
    <div>
        {{ form.csrf_token }}
    </div>
    {% for field in form if field.name not in ['csrf_token', 'submit'] %}
        <div class="custom-control custom-checkbox my-2">
            {{ field() }}
            {{ field.label }}
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="d-flex justify-content-center">
        {{ form.submit(class="btn btn-lg btn-primary col-7") }}
    </div>
    <script src="{{ url_for('static', filename="js/form-validation.js") }}"></script>
{% endblock %}