{% set title = "Кадровый отдел" %}
{% extends "base.html" %}
{% block content %}
    <hr class="featurette-divider m-5">
    <div class="container marketing">
        <div class="row justify-content-center">
            <div class="card col-11 col-sm-11 col-md-11 col-lg-11 col-xl-12 shadow-lg">
                <h1 class="font-weight-normal text-center mt-3">Кадровый отдел организации</h1>
                {% set stats_sum = len(workers) + len(required_workers) %}
                {% if stats_sum != 0 %}
                    {% set percent = len(workers) * 100 // stats_sum %}
                    <div class="progress m-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: {{ percent }}%" aria-valuenow="{{ percent }}" aria-valuemin="0"
                             aria-valuemax="100">{{ percent }}%
                        </div>
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                             role="progressbar"
                             style="width: {{ 100 - percent }}%" aria-valuenow="{{ 100 - percent }}" aria-valuemin="0"
                             aria-valuemax="100">{{ 100 - percent }}%
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="column col-md-6">
                        <div class="row mx-3">
                            <h5 class="card-text font-weight-normal">Общее количество рабочих: {{ len(workers) }}</h5>
                            <div class="progress mt-1" style="width: 20px">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     style="width: 100%">
                                </div>
                            </div>
                        </div>
                        <div class="row mx-3">
                            <h5 class="card-text font-weight-normal mb-4">Общее количество свободных
                                вакансий: {{ len(required_workers) }}</h5>
                            <div class="progress mt-1" style="width: 20px">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                     role="progressbar" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                    <h1 class="font-weight-normal text-center my-1 col-md-6">{{ org.name }}</h1>
                </div>

                <hr class="featurette-divider">

                <div class="row justify-content-around">
                    <details class="text-center col-md-12" open="">
                        <summary class="h1 card-text font-weight-normal mb-3 mx-auto">Работники организации</summary>
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Фио</th>
                                <th scope="col">Должность</th>
                                <th scope="col">Зарплата</th>
                                <th scope="col">Т2</th>
                                <th scope="col">Профиль</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vacancy in workers %}
                                <tr>
                                    <td>{{ vacancy.worker.full_name }}</td>
                                    <td>{{ vacancy.title }}</td>
                                    <td>{{ vacancy.salary }}₽</td>
                                    {% if vacancy.worker.t2_rel %}
                                        <td>
                                            <p class="mt-3"><a class="btn-sm btn-primary"
                                                               href="/users/profile/t2?user_id={{ vacancy.worker.id }}"
                                                               role="button">T2</a></p>
                                        </td>
                                    {% else %}
                                        <td>
                                            <p class="mt-3"><a class="btn-sm btn-primary" role="button">T2</a></p>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <button class="btn btn-primary btn-lg btn-block btn-sm" type="submit" disabled>
                                            Перейти
                                        </button>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </details>
                    <details class="text-center col-md-6" open="">
                        <summary class="h1 card-text font-weight-normal mb-3 mx-auto">Требуемые работники</summary>
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Должность</th>
                                <th scope="col">Зарплата</th>
                                <th scope="col">Поиск по фильтру</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vacancy in required_workers %}
                                <tr>
                                    <td>{{ vacancy.title }}</td>
                                    <td>{{ vacancy.salary }}₽</td>
                                    <td>
                                        <a class="btn btn-primary btn-lg btn-block btn-sm" href="/organization/showpretenders/{{ vacancy.id }}">Поиск сотрудника</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </details>
                </div>
                <hr class="featurette-divider">
                <footer class="container">
                    <p class="float-right"><a href=#>Вернутся в начало страницы</a></p>
                    <p>&copy; SAMARA-CORPARATION</p>
                </footer>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

    <div class="modal fade" id="job" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Новая вакансия</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row text-center">
                    <div class="col-md-6">
                        <label for="Фамилия">Должность</label>
                        <input type="text" class="form-control" id="Фамилия" name="surname" placeholder="Должность"
                               required>
                        <div class="invalid-feedback">
                            Укажите должность
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="age">Зарплата</label>
                        <input type="number" min="0" class="form-control" id="age" name="age" placeholder="Зарплата"
                               required>
                        <div class="invalid-feedback">
                            Укажите зарплату
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block mx-5 mt-3 mb-2" type="submit" disabled>Добавить
                        вакансию
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}