{% set title = "регистрация" %}
{% set footer = false %}
{% set height = "150px" %}
{% extends "base.html" %}
{% block content %}
    <div class="column">
        <div class="d-flex justify-content-center mt-5" style="height: 43px">
            <img class="mb-4" src="{{ url_for('static', filename="icon/icon.png") }}" alt=""
                 style="width: 43px; height: 43px">
            <img class="mb-4 mx-4" src="{{ url_for('static', filename="icon/Gos.jpg") }}" alt=""
                 style="width: 300px; height: 51px">
        </div>

        <div class="container marketing mt-3">
            <div class="row justify-content-center">
                <div class="card col-md-4 shadow">
                    <div class="column mb-3 text-center">
                        <div class="h1 text-center mt-3">Регистрация</div>
                        <form>
                            <div class="col-md-12 mt-3">
                                <label class="h4 my-1" for="Фамилия">Фамилия</label>
                                <input type="text" class="form-control my-2" id="Фамилия" name="surname" required>
                            </div>
                            <div class="col-md-12">
                                <label class="h4 my-1" for="Имя">Имя</label>
                                <input type="text" class="form-control my-2" id="Имя" name="name" required>
                            </div>
                            <div class="col-md-12">
                                <label class="h4 my-1" for="Отчество">Отчество</label>
                                <input type="text" class="form-control my-2" id="Отчество" name="middlename" required>
                            </div>
                            <div class="col-md-12">
                                <label class="h4 my-1" for="Отчество">Почта</label>
                                <input type="email" class="form-control my-2" id="Отчество" name="middlename" required>
                            </div>
                            <div class="col-md-12">
                                <label class="h4 my-1" for="Отчество">Пароль</label>
                                <input type="password" class="form-control my-2" id="Отчество" name="middlename" required>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">Зарегистрироватся</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}