{% set title = "Авторизация" %}
{% set footer = false %}
{% set height = "150px"%}
{% extends "base.html" %}
{% block content %}
<div class="column justify-content-center">
    <div class="d-flex justify-content-center mt-5">
        <img class="mb-3 mt-5" src="{{ url_for('static', filename='icon/icon.png') }}" alt="" style="width: 43px; height: 43px">
        <h1 class="justify-content-center mt-3">Вход</h1>
    </div>
    <div class="d-flex justify-content-center">
        <h6 class="justify-content-center mt-3">Для портала ГосРаб</h6>
    </div>
    <form method="POST" action="">
        <div class="d-flex justify-content-center" style="height: 100px">
            <div class="d-flex p-3 my-1 flex-column" style="width: 300px">
                <div>
                    {{ form.csrf_token }}
                </div>
                {% for field in form if field.name != 'csrf_token' and field != form.submit %}
                {{ field(class="form-control") }}
                {% for error in field.errors %}
                <div class="error">{{ error }}</div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row p-3 mx-5 mb-2 justify-content-center" style="height: 50px; max-width: 1800px">
            <p class="mx-5 float-right"><a href=/users/registration/>Зарегистрироватся</a></p>
            <p class="mx-5 float-right"><a href=/users/restore/>Забыл пароль</a></p>
        </div>
        <div class="d-flex justify-content-center" style="height: 130px">
            <div class="d-flex p-3 my-1 flex-column">
                {{ form.submit(class="btn btn-lg btn-primary btn-block", type="submit", style="width: 300px") }}
                <p class="mt-1 mb-3 ml-5 mt-3 text-muted">&copy; SAMARA-CORPARATION</p>
            </div>
        </div>
    </form>
</div>
{% endblock %}