{% set title = "Кадровый отдел" %}
{% extends "base.html" %}
{% block content %}
    <hr class="featurette-divider m-5">
    <div class="container marketing">
        <div class="row justify-content-center">
            <div class="card col-11 col-sm-11 col-md-11 col-lg-11 col-xl-12 shadow-lg text-center">
                <div class="column align-self-end text-left mt-5 mb-2">
                    <h6>Унифицированная форма № Т-2</h6>
                    <h6>Утверждена Постановлением Госкомстата России</h6>
                    <h6>от 05.01.2004 № 1</h6>
                </div>
                <div class="column align-self-center">
                    <h1>Автосервис Михаил-авто</h1>
                    <h6>(наименование организации)</h6>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col"><h6>Дата составления</h6></th>
                        <th scope="col"><h6>Табельный номер</h6></th>
                        <th scope="col"><h6>Идентификационный номер налогоплательщика</h6></th>
                        <th scope="col"><h6>Номер страхового свидетельства государственного пенсионного страхования</h6></th>
                        <th scope="col"><h6>Алфавит</h6></th>
                        <th scope="col"><h6>Характер работы</h6></th>
                        <th scope="col"><h6>Вид работы (основная, по совмес-тительству)</h6></th>
                        <th scope="col"><h6>Пол (мужской, женский)</h6></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h2>ЛИЧНАЯ КАРТОЧКА</h2>
                <h3>работника</h3>
                <h3>I. ОБЩИЕ СВЕДЕНИЯ</h3>
                <div class="row align-self-end text-left">
                    <h6>Трудовой договор</h6>
                    <table class="table table-bordered col-6 ml-2">
                    <thead>
                    <tr>
                        <th scope="col"><h6>номер</h6></th>
                        <th>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><h6>дата</h6></td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div class="row mx-3 mb-5">
                    <h5>1. Фамилия</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>Имя</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>Отчество</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mx-3 mb-5">
                    <div class="column col-10">
                        <div class="row mb-5">
                            <h5 class="col-3">2. Дата рождения</h5>
                            <div class="input-group input-group-sm col-9">
                                <input type="text" class="form-control" placeholder="день, месяц, год">
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered col-2">
                    <thead>
                    <tr>
                        <th scope="col"><h6>Код</h6></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <hr class="featurette-divider">
                <footer class="container text-left">
                    <p class="float-right"><a href=#>Вернутся в начало страницы</a></p>
                    <p>&copy; SAMARA-CORPARATION</p>
                </footer>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

    <div class="modal fade" id="job" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Новая вакансия</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row text-center">
                    <div class="col-md-6">
                        <label for="Фамилия">Должность</label>
                        <input type="text" class="form-control" id="Фамилия" name="surname" placeholder="Должность"
                               required>
                        <div class="invalid-feedback">
                            Укажите должность
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="age">Зарплата</label>
                        <input type="number" min="0" class="form-control" id="age" name="age" placeholder="Зарплата"
                               required>
                        <div class="invalid-feedback">
                            Укажите зарплату
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block mx-5 mt-3 mb-2" type="submit" disabled>Добавить
                        вакансию
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}