{% set title = "Кадровый отдел" %}
{% extends "base.html" %}
{% block content %}
    <hr class="featurette-divider m-5">
    <div class="container marketing">
        <div class="row justify-content-center">
            <div class="card col-11 col-sm-11 col-md-11 col-lg-11 col-xl-12 mb-3 shadow-lg text-center">
                <div class="column align-self-end text-left mt-5 mb-2">
                    <h6>Унифицированная форма № Т-2</h6>
                    <h6>Утверждена Постановлением Госкомстата России</h6>
                    <h6>от 05.01.2004 № 1</h6>
                </div>
                <div class="column align-self-center">
                    <h1>Автосервис Михаил-авто</h1>
                    <h6>(наименование организации)</h6>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col"><h6>Дата составления</h6></th>
                        <th scope="col"><h6>Табельный номер</h6></th>
                        <th scope="col"><h6>Идентификационный номер налогоплательщика</h6></th>
                        <th scope="col"><h6>Номер страхового свидетельства государственного пенсионного страхования</h6>
                        </th>
                        <th scope="col"><h6>Алфавит</h6></th>
                        <th scope="col"><h6>Характер работы</h6></th>
                        <th scope="col"><h6>Вид работы (основная, по совмес-тительству)</h6></th>
                        <th scope="col"><h6>Пол (мужской, женский)</h6></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h2>ЛИЧНАЯ КАРТОЧКА</h2>
                <h3>работника</h3>
                <h3>I. ОБЩИЕ СВЕДЕНИЯ</h3>
                <div class="row align-self-end text-left">
                    <h6>Трудовой договор</h6>
                    <table class="table table-bordered col-6 ml-2">
                        <thead>
                        <tr>
                            <th scope="col"><h6>номер</h6></th>
                            <th>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><h6>дата</h6></td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mx-3 mb-5 text-left">
                    <h5>1. Фамилия</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>Имя</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>Отчество</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="column col-10 mt-5">
                        <div class="row mb-4 mt-4 text-left">
                            <h5 class="col-3">2. Дата рождения</h5>
                            <div class="input-group input-group-sm col-9">
                                <input type="text" class="form-control" placeholder="день, месяц, год">
                            </div>
                        </div>
                        <div class="row mb-4 mt-4 text-left">
                            <h5 class="col-3">3. Место рождения</h5>
                            <div class="input-group input-group-sm col-7">
                                <input type="text" class="form-control">
                            </div>
                            <h5 class="col-2">по ОКАТО</h5>
                        </div>
                        <div class="row mb-4 mt-4 text-left">
                            <h5 class="col-3">4. Гражданство</h5>
                            <div class="input-group input-group-sm col-7">
                                <input type="text" class="form-control">
                            </div>
                            <h5 class="col-2">по ОКИН</h5>
                        </div>
                        <div class="row mb-4 mt-4 text-left">
                            <h5 class="col-5">5. Знание иностранного языка</h5>
                            <div class="input-group input-group-sm col-5">
                                <input type="text" class="form-control"
                                       placeholder="	(наименование)	(степень знания)		">
                            </div>
                            <h5 class="col-2">по ОКИН</h5>
                        </div>
                        <div class="row mb-4 mt-4 text-left">
                            <h5 class="col-5"></h5>
                            <div class="input-group input-group-sm col-5">
                                <input type="text" class="form-control"
                                       placeholder="	(наименование)	(степень знания)		">
                            </div>
                            <h5 class="col-2">по ОКИН</h5>
                        </div>
                        <div class="row mt-4 text-left">
                            <h5 class="col-3">6. Образование</h5>
                            <div class="input-group input-group-sm col-7">
                                <input type="text" class="form-control"
                                       placeholder="(среднее (полное) общее, начальное профессиональное, среднее профессиональное, высшее профессиональное)">
                            </div>
                            <h5 class="col-2">по ОКИН</h5>
                        </div>
                    </div>
                    <table class="table table-bordered col-2">
                        <thead>
                        <tr>
                            <th scope="col"><h4>Код</h4></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col"><h5>Наименование образовательного учреждения</h5></th>
                        <th scope="col" colspan="3"><h5>Документ об образовании, о квалифи-кации или наличии специальных
                            знаний</h5></th>
                        <th scope="col"><h5>Год окончания</h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>наименование</td>
                        <td>серия</td>
                        <td>номер</td>
                        <td rowspan="2">
                            <div class="input-group input-group-lg mt-3">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Квалификация по документу об образовании</td>
                        <td colspan="4">Направление или специальность по документу</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td colspan="4" rowspan="2">
                            <div class="row">
                                <div class="input-group input-group-lg col-9 mt-1">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-3 mt-3">Код по ОКСО</div>
                            </div>
                        </td>
                        <td rowspan="2">
                            <div class="input-group input-group-lg mt-1">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tr>
                        <th scope="col"><h5>Наименование образовательного учреждения</h5></th>
                        <th scope="col" colspan="3"><h5>Документ об образовании, о квалифи-кации или наличии специальных
                            знаний</h5></th>
                        <th scope="col"><h5>Год окончания</h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>наименование</td>
                        <td>серия</td>
                        <td>номер</td>
                        <td rowspan="2">
                            <div class="input-group input-group-lg mt-3">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Квалификация по документу об образовании</td>
                        <td colspan="4">Направление или специальность по документу</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td colspan="4" rowspan="2">
                            <div class="row">
                                <div class="input-group input-group-lg col-9 mt-1">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-3 mt-3">Код по ОКСО</div>
                            </div>
                        </td>
                        <td rowspan="2">
                            <div class="input-group input-group-lg mt-1">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row mt-4 text-left">
                    <h5 class="col-6">Послевузовское профессиональное образование</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control" placeholder="(аспирантура, адъюнктура, докторантура)">
                    </div>
                    <h5 class="col-2">Код по ОКИН</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tr>
                        <th scope="col"><h5>Наименование образовательного, научного учреждения</h5></th>
                        <th scope="col"><h5>Документ об образовании, номер, дата выдачи</h5></th>
                        <th scope="col"><h5>Год окончания</h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">Направление или специальность по документу</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td colspan="4" rowspan="2">
                            <div class="row">
                                <div class="input-group input-group-lg col-8 mt-1">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-4 mt-3">Код по ОКСО</div>
                            </div>
                        </td>
                        <td rowspan="2">
                            <div class="input-group input-group-lg mt-1">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="column col-10 mt-5">
                        <div class="row mt-4 text-left">
                            <h5 class="col-2">7. Профессия</h5>
                            <div class="input-group input-group-sm col-8">
                                <input type="text" class="form-control" placeholder="(основная)">
                            </div>
                            <h5 class="col-2">по ОКПДТР</h5>
                        </div>
                        <div class="row mt-4 text-left">
                            <h5 class="col-2"></h5>
                            <div class="input-group input-group-sm col-8">
                                <input type="text" class="form-control" placeholder="(другая)">
                            </div>
                            <h5 class="col-2">по ОКПДТР</h5>
                        </div>
                    </div>
                    <table class="table table-bordered col-2">
                        <thead>
                        <tr>
                            <th scope="col"><h4>Код</h4></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-4 text-left ml-1">
                    <h5>8. Стаж работы (по состоянию на “</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                    <h5>”</h5>
                    <div class="input-group input-group-sm col-2">
                        <input type="text" class="form-control">
                    </div>
                    <h5>20</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                    <h5>г.):</h5>
                </div>
                <div class="row ml-5 mt-3">
                    <div class="column text-left col-5">
                        <h5>Общий</h5>
                        <h5>Непрерывный</h5>
                        <h5>Дающий право на надбавку за выслугу лет:</h5>
                        <h5></h5>
                    </div>
                    <div class="column text-left col-7">
                        <div class="row">
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                            <h5>дней</h5>
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                            <h5>месяцев</h5>
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                            <h5>лет</h5>
                        </div>
                        <div class="row">
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                            <h5>дней</h5>
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                            <h5>месяцев</h5>
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                            <h5>лет</h5>
                        </div>
                        <div class="row">
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                            <h5>дней</h5>
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                            <h5>месяцев</h5>
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                            <h5>лет</h5>
                        </div>
                        <div class="row">
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                            <h5>дней</h5>
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                            <h5>месяцев</h5>
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                            <h5>лет</h5>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 text-left  ml-1">
                    <h5>9. Состояние в браке</h5>
                    <div class="input-group input-group-sm col-6">
                        <input type="text" class="form-control">
                    </div>
                    <h5>Код по ОКИН</h5>
                    <div class="input-group input-group-sm col-2">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <h5 class="text-left mt-3">10. Состав семьи:</h5>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tr>
                        <th scope="col"><h5>Степень родства (ближайшие родственники)</h5></th>
                        <th scope="col"><h5>Фамилия, имя, отчество</h5></th>
                        <th scope="col"><h5>Год рождения</h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row mt-4 text-left  ml-1">
                    <h5>11. Паспорт: №</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>Дата выдачи “</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                    <h5>”</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>20</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                    <h5>г.</h5>
                </div>
                <div class="row ml-4 mt-3">
                    <div class="column text-left ml-2">
                        <h5 class="mt-2">Выдан</h5>
                        <h5 class="mt-2"></h5>
                        <h5 class="mt-2"></h5>
                        <h5 class="mt-2"></h5>
                    </div>
                    <div class="column col-11">
                        <div class="input-group input-group-sm mt-2">
                            <input type="text" class="form-control"
                                   placeholder="(наименование органа, выдавшего паспорт)">
                        </div>
                        <div class="input-group input-group-sm mt-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group input-group-sm mt-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="input-group input-group-sm mt-2">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <h5 class="text-left ml-2 mt-3">12. Адрес места жительства:</h5>
                <div class="row mt-2 ml-2">
                    <h5 class="text-left ml-2 mt-2 col-2">По паспорту</h5>
                    <div class="input-group input-group-sm mt-2 col-2">
                        <input type="text" class="form-control" placeholder="Почтовый индекс">
                    </div>
                    <div class="input-group input-group-sm mt-2 col-7">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mt-1 ml-2">
                    <h5 class="text-left ml-2 col-2"></h5>
                    <div class="input-group input-group-sm mt-2 col-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mt-1 ml-2">
                    <h5 class="text-left ml-2 mt-2 col-2">Фактический</h5>
                    <div class="input-group input-group-sm mt-2 col-2">
                        <input type="text" class="form-control" placeholder="Почтовый индекс">
                    </div>
                    <div class="input-group input-group-sm mt-2 col-7">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mt-1 ml-2">
                    <h5 class="text-left ml-2 col-2"></h5>
                    <div class="input-group input-group-sm mt-2 col-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mt-3 text-left  ml-4">
                    <h5>Дата регистрации по месту жительства “</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                    <h5>”</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>20</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                    <h5>г.</h5>
                </div>
                <div class="row mt-3 ml-4">
                    <h5>Номер телефона</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <h3 class="mt-3">II. СВЕДЕНИЯ О ВОИНСКОМ УЧЕТЕ</h3>
                <div class="row mt-3 mx-4">
                    <div class="column col-6">
                        <div class="row">
                            <h5 class="col-5 text-left">1. Категория запаса</h5>
                            <div class="input-group input-group-sm col-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <h5 class="col-5 text-left">2. Воинское звание</h5>
                            <div class="input-group input-group-sm col-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <h5 class="col-5 text-left">3. Состав (профиль)</h5>
                            <div class="input-group input-group-sm col-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <h5 class="col-9 text-left">4. Полное кодовое обозначение ВУС</h5>
                            <div class="input-group input-group-sm col-3">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <h5 class="col-10 text-left">5. Категория годности к военной службе</h5>
                            <div class="input-group input-group-sm col-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="column col-6 text-left">
                        <h5>6. Наименование военного </h5>
                        <div class="row">
                            <h5 class="col-9 text-left">комиссариата по месту жительства</h5>
                            <div class="input-group input-group-sm col-3">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control">
                        </div>
                        <div class="row">
                            <h5 class="col-9 text-left">7. Состоит на воинском учете:</h5>
                            <div class="input-group input-group-sm col-3">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <h5 class="col-9 text-left">а) общем (номер команды, партии)</h5>
                            <div class="input-group input-group-sm col-3">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <h5 class="col-9 text-left">б) специальном</h5>
                            <div class="input-group input-group-sm col-3">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row row justify-content-between">
                            <h5 class="text-left ml-3">8.</h5>
                            <div class="input-group input-group-sm col-11">
                                <input type="text" class="form-control" placeholder="(отметка о снятии с воинского учета)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 mx-2">
                    <h5 class="text-left font-weight-bold col-4">Работник кадровой службы</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control" placeholder="(должность)">
                    </div>
                    <div class="input-group input-group-sm col-2">
                        <input type="text" class="form-control" placeholder="(личная подпись)">
                    </div>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control" placeholder="(расшифровка подписи)">
                    </div>
                </div>
                <div class="row mt-3 mx-4">
                    <h5 class="text-left font-weight-bold">Работник</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control" placeholder="(личная подпись)">
                    </div>
                </div>
                <div class="row mt-3 mx-4">
                    <h5>“</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                    <h5>”</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>20</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                    <h5>г.</h5>
                </div>
                <h3 class="mt-3">III. ПРИЕМ НА РАБОТУ</h3>
                <h3> И ПЕРЕВОДЫ НА ДРУГУЮ РАБОТУ</h3>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tr>
                        <th scope="col"><h5>Дата</h5></th>
                        <th scope="col"><h5>Структурное подразделение</h5></th>
                        <th scope="col"><h5>Должность (специальность, профессия), разряд, класс (категория) квалификации</h5></th>
                        <th scope="col"><h5>Тарифная ставка (оклад), надбавка, руб.</h5></th>
                        <th scope="col"><h5>Основание</h5></th>
                        <th scope="col"><h5>Личная подпись владельца трудовой книжки</h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    {% for i in range(13) %}
                        <tr>
                            {% for i in range(6) %}
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control">
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3 class="mt-3">IV. АТТЕСТАЦИЯ</h3>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tbody>
                    <tr>
                        <td rowspan="2"><h5 class="mt-5">Дата аттестации</h5></td>
                        <td rowspan="2"><h5 class="mt-4">Решение комиссии</h5></td>
                        <td colspan="2"><h5>Документ (протокол)</h5></td>
                        <td rowspan="2"><h5 class="mt-3">Основание</h5></td>
                    </tr>
                    <tr>
                        <td>номер</td>
                        <td>дата</td>
                    </tr>
                    <tr>
                        {% for i in range(5) %}
                            <td>{{ i + 1 }}</td>
                        {% endfor %}
                    </tr>
                    {% for i in range(6) %}
                        <tr>
                            {% for i in range(5) %}
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control">
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3 class="mt-3">V. ПОВЫШЕНИЕ КВАЛИФИКАЦИИ</h3>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tbody>
                    <tr>
                        <td colspan="2"><h5>Дата</h5></td>
                        <td rowspan="2"><h5>Вид повышения квалификации</h5></td>
                        <td rowspan="2"><h5>Наименование образовательного учреждения, место его нахождения</h5></td>
                        <td colspan="3"><h5>Документ (удостоверение, свидетельство)</h5></td>
                        <td rowspan="2"><h5>Основание</h5></td>
                    </tr>
                    <tr>
                        <td><h5>начала обучения</h5></td>
                        <td><h5>окончания обучения</h5></td>
                        <td><h5>наименование</h5></td>
                        <td><h5>серия, номер</h5></td>
                        <td><h5>дата</h5></td>
                    </tr>
                    <tr>
                        {% for i in range(8) %}
                            <td>{{ i + 1 }}</td>
                        {% endfor %}
                    </tr>
                    {% for i in range(6) %}
                        <tr>
                            {% for i in range(8) %}
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control">
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3 class="mt-3">VI. ПРОФЕССИОНАЛЬНАЯ ПЕРЕПОДГОТОВКА</h3>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tbody>
                    <tr>
                        <td colspan="2"><h5>Дата</h5></td>
                        <td rowspan="2"><h5>Специальность (направление, профессия)</h5></td>
                        <td colspan="3"><h5>Документ (удостоверение, свидетельство)</h5></td>
                        <td rowspan="2"><h5>Основание</h5></td>
                    </tr>
                    <tr>
                        <td><h5>начала переподготовки</h5></td>
                        <td><h5>окончания переподготовки</h5></td>
                        <td><h5>наименование</h5></td>
                        <td><h5>номер</h5></td>
                        <td><h5>дата</h5></td>
                    </tr>
                    <tr>
                        {% for i in range(7) %}
                            <td>{{ i + 1 }}</td>
                        {% endfor %}
                    </tr>
                    {% for i in range(4) %}
                        <tr>
                            {% for i in range(7) %}
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control">
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3 class="mt-3">VII. НАГРАДЫ (ПООЩРЕНИЯ), ПОЧЕТНЫЕ ЗВАНИЯ</h3>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tbody>
                    <tr>
                        <td rowspan="2"><h5>Наименование награды (поощрения)</h5></td>
                        <td colspan="3"><h5>Документ</h5></td>
                    </tr>
                    <tr>
                        <td><h5>наименование</h5></td>
                        <td><h5>номер</h5></td>
                        <td><h5>дата</h5></td>
                    </tr>
                    <tr>
                        {% for i in range(4) %}
                            <td>{{ i + 1 }}</td>
                        {% endfor %}
                    </tr>
                    {% for i in range(4) %}
                        <tr>
                            {% for i in range(4) %}
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control">
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3 class="mt-3">VIII. ОТПУСК</h3>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tbody>
                    <tr>
                        <td rowspan="2"><h5>Вид отпуска (ежегодный, учебный, без сохранения заработной платы и др.)</h5></td>
                        <td colspan="2"><h5>Период работы</h5></td>
                        <td rowspan="2"><h5>Количество календарных дней отпуска</h5></td>
                        <td colspan="2"><h5>Дата</h5></td>
                        <td rowspan="2"><h5>Основание</h5></td>
                    </tr>
                    <tr>
                        <td><h5>с</h5></td>
                        <td><h5>по</h5></td>
                        <td><h5>начала</h5></td>
                        <td><h5>окончания</h5></td>
                    </tr>
                    <tr>
                        {% for i in range(7) %}
                            <td>{{ i + 1 }}</td>
                        {% endfor %}
                    </tr>
                    {% for i in range(4) %}
                        <tr>
                            {% for i in range(7) %}
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control">
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3 class="mt-3">IX. СОЦИАЛЬНЫЕ ЛЬГОТЫ</h3>
                <h3>на которые работник имеет право в соответствии с законодательством</h3>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tbody>
                    <tr>
                        <td rowspan="2"><h5>Наименование льготы</h5></td>
                        <td colspan="2"><h5>Документ</h5></td>
                        <td rowspan="2"><h5>Основание</h5></td>
                    </tr>
                    <tr>
                        <td><h5>номер</h5></td>
                        <td><h5>дата выдачи</h5></td>
                    </tr>
                    <tr>
                        {% for i in range(4) %}
                            <td>{{ i + 1 }}</td>
                        {% endfor %}
                    </tr>
                    {% for i in range(6) %}
                        <tr>
                            {% for i in range(4) %}
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control">
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3 class="mt-3">X. ДОПОЛНИТЕЛЬНЫЕ СВЕДЕНИЯ</h3>
                <div class="column">
                {% for i in range(5) %}
                    <div class="input-group input-group-sm my-1">
                        <input type="text" class="form-control">
                    </div>
                {% endfor %}
                </div>
                <h5 class="text-left font-weight-bold mt-3">XI. Основание прекращения</h5>
                <div class="row mt-1">
                    <h5 class="text-left font-weight-bold col-4">трудового договора (увольнения)</h5>
                    <div class="input-group input-group-sm col-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mt-3 text-left ml-1">
                    <h5>Дата увольнения “</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                    <h5>”</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>20</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                    <h5>г.</h5>
                </div>
                <div class="row mt-3 text-left ml-1">
                    <h5>Приказ (распоряжение) №</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>от “</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                    <h5>”</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>20</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                    <h5>г.</h5>
                </div>
                <div class="row mt-3">
                    <h5 class="text-left font-weight-bold col-4">Работник кадровой службы</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control" placeholder="(должность)">
                    </div>
                    <div class="input-group input-group-sm col-2">
                        <input type="text" class="form-control" placeholder="(личная подпись)">
                    </div>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control" placeholder="(расшифровка подписи)">
                    </div>
                </div>
                <div class="row mt-3 ml-1">
                    <h5 class="text-left font-weight-bold">Работник</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control" placeholder="(личная подпись)">
                    </div>
                </div>
                <hr class="featurette-divider">
                <button class="btn btn-primary btn-lg btn-block my-3" type="submit">Приенить изменения</button>
                <hr class="featurette-divider">
                <footer class="container text-left">
                    <p class="float-right"><a href=#>Вернутся в начало страницы</a></p>
                    <p>&copy; SAMARA-CORPARATION</p>
                </footer>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
{% endblock %}