{% set title = "Кадровый отдел" %}
{% extends "base.html" %}
{% block content %}
    <hr class="featurette-divider m-5">
    <div class="container marketing">
        <div class="row justify-content-center">
            <div class="card col-11 col-sm-11 col-md-11 col-lg-11 col-xl-12 shadow-lg text-center">
                <div class="column align-self-end text-left mt-5 mb-2">
                    <h6>Унифицированная форма № Т-2</h6>
                    <h6>Утверждена Постановлением Госкомстата России</h6>
                    <h6>от 05.01.2004 № 1</h6>
                </div>
                <div class="column align-self-center">
                    <h1>Автосервис Михаил-авто</h1>
                    <h6>(наименование организации)</h6>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col"><h6>Дата составления</h6></th>
                        <th scope="col"><h6>Табельный номер</h6></th>
                        <th scope="col"><h6>Идентификационный номер налогоплательщика</h6></th>
                        <th scope="col"><h6>Номер страхового свидетельства государственного пенсионного страхования</h6></th>
                        <th scope="col"><h6>Алфавит</h6></th>
                        <th scope="col"><h6>Характер работы</h6></th>
                        <th scope="col"><h6>Вид работы (основная, по совмес-тительству)</h6></th>
                        <th scope="col"><h6>Пол (мужской, женский)</h6></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h2>ЛИЧНАЯ КАРТОЧКА</h2>
                <h3>работника</h3>
                <h3>I. ОБЩИЕ СВЕДЕНИЯ</h3>
                <div class="row align-self-end text-left">
                    <h6>Трудовой договор</h6>
                    <table class="table table-bordered col-6 ml-2">
                    <thead>
                    <tr>
                        <th scope="col"><h6>номер</h6></th>
                        <th>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><h6>дата</h6></td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div class="row mx-3 mb-5 text-left">
                    <h5>1. Фамилия</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>Имя</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                    <h5>Отчество</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="column col-10 mt-5">
                        <div class="row mb-4 mt-4 text-left">
                            <h5 class="col-3">2. Дата рождения</h5>
                            <div class="input-group input-group-sm col-9">
                                <input type="text" class="form-control" placeholder="день, месяц, год">
                            </div>
                        </div>
                        <div class="row mb-4 mt-4 text-left">
                            <h5 class="col-3">3. Место рождения</h5>
                            <div class="input-group input-group-sm col-7">
                                <input type="text" class="form-control">
                            </div>
                            <h5 class="col-2">по ОКАТО</h5>
                        </div>
                        <div class="row mb-4 mt-4 text-left">
                            <h5 class="col-3">4. Гражданство</h5>
                            <div class="input-group input-group-sm col-7">
                                <input type="text" class="form-control">
                            </div>
                            <h5 class="col-2">по ОКИН</h5>
                        </div>
                        <div class="row mb-4 mt-4 text-left">
                            <h5 class="col-5">5. Знание иностранного языка</h5>
                            <div class="input-group input-group-sm col-5">
                                <input type="text" class="form-control" placeholder="	(наименование)	(степень знания)		">
                            </div>
                            <h5 class="col-2">по ОКИН</h5>
                        </div>
                        <div class="row mb-4 mt-4 text-left">
                            <h5 class="col-5"></h5>
                            <div class="input-group input-group-sm col-5">
                                <input type="text" class="form-control" placeholder="	(наименование)	(степень знания)		">
                            </div>
                            <h5 class="col-2">по ОКИН</h5>
                        </div>
                        <div class="row mt-4 text-left">
                            <h5 class="col-3">6. Образование</h5>
                            <div class="input-group input-group-sm col-7">
                                <input type="text" class="form-control" placeholder="(среднее (полное) общее, начальное профессиональное, среднее профессиональное, высшее профессиональное)">
                            </div>
                            <h5 class="col-2">по ОКИН</h5>
                        </div>
                    </div>
                    <table class="table table-bordered col-2">
                    <thead>
                    <tr>
                        <th scope="col"><h4>Код</h4></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col"><h5>Наименование образовательного учреждения</h5></th>
                        <th scope="col" colspan="3"><h5>Документ об образовании, о квалифи-кации или наличии специальных знаний</h5></th>
                        <th scope="col"><h5>Год окончания</h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>наименование</td>
                        <td>серия</td>
                        <td>номер</td>
                        <td rowspan="2">
                            <div class="input-group input-group-lg mt-3">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Квалификация по документу об образовании</td>
                        <td colspan="4">Направление или специальность по документу</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td colspan="4" rowspan="2">
                            <div class="row">
                                <div class="input-group input-group-lg col-9 mt-1">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-3 mt-3">Код по ОКСО</div>
                            </div>
                        </td>
                        <td rowspan="2">
                            <div class="input-group input-group-lg mt-1">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tr>
                        <th scope="col"><h5>Наименование образовательного учреждения</h5></th>
                        <th scope="col" colspan="3"><h5>Документ об образовании, о квалифи-кации или наличии специальных знаний</h5></th>
                        <th scope="col"><h5>Год окончания</h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>наименование</td>
                        <td>серия</td>
                        <td>номер</td>
                        <td rowspan="2">
                            <div class="input-group input-group-lg mt-3">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Квалификация по документу об образовании</td>
                        <td colspan="4">Направление или специальность по документу</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td colspan="4" rowspan="2">
                            <div class="row">
                                <div class="input-group input-group-lg col-9 mt-1">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-3 mt-3">Код по ОКСО</div>
                            </div>
                        </td>
                        <td rowspan="2">
                            <div class="input-group input-group-lg mt-1">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row mt-4 text-left">
                    <h5 class="col-6">Послевузовское профессиональное образование</h5>
                    <div class="input-group input-group-sm col-3">
                        <input type="text" class="form-control" placeholder="(аспирантура, адъюнктура, докторантура)">
                    </div>
                    <h5 class="col-2">Код по ОКИН</h5>
                    <div class="input-group input-group-sm col-1">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <table class="table table-bordered mt-3">
                    <thead>
                    <tr>
                        <th scope="col"><h5>Наименование образовательного, научного учреждения</h5></th>
                        <th scope="col"><h5>Документ об образовании, номер, дата выдачи</h5></th>
                        <th scope="col"><h5>Год окончания</h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">Направление или специальность по документу</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                        <td colspan="4" rowspan="2">
                            <div class="row">
                                <div class="input-group input-group-lg col-8 mt-1">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-4 mt-3">Код по ОКСО</div>
                            </div>
                        </td>
                        <td rowspan="2">
                            <div class="input-group input-group-lg mt-1">
                                <input type="text" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="column col-10 mt-5">
                        <div class="row mt-4 text-left">
                            <h5 class="col-3">7. Профессия</h5>
                            <div class="input-group input-group-sm col-7">
                                <input type="text" class="form-control" placeholder="(основная)">
                            </div>
                            <h5 class="col-2">по ОКПДТР</h5>
                        </div>
                        <div class="row mt-4 text-left">
                            <h5 class="col-3"></h5>
                            <div class="input-group input-group-sm col-7">
                                <input type="text" class="form-control" placeholder="(другая)">
                            </div>
                            <h5 class="col-2">по ОКПДТР</h5>
                        </div>
                    </div>
                    <table class="table table-bordered col-2">
                        <thead>
                        <tr>
                            <th scope="col"><h4>Код</h4></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr class="featurette-divider">
                <footer class="container text-left">
                    <p class="float-right"><a href=#>Вернутся в начало страницы</a></p>
                    <p>&copy; SAMARA-CORPARATION</p>
                </footer>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
{% endblock %}